*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --bg-main-: #040924;
    --tt-heaading: #0C3440;
    --tt-label: #00453A;
    --tt-input: #212529;
    --ot-input: #02799D;
    --tt-placeholder: rgba(73, 80, 87, 0.5);
    --tt-button: white;
    --bg-button: rgba(2, 121, 157, 1);
    --bg-error: rgba(240, 62, 62, 1);
    --tt-error: white;
}

body{
    font-size: 1.6rem;
    background-color: var(--bg-main-);
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    height: 100vh;
    place-content: center;
}

.card{
    background: white;
    padding: 4.8rem 6.4rem 6.4rem;
    max-width: 42.8rem;
    margin-inline: auto;

    border-radius: .6rem;
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.1);
}